@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

.App {
    height: 100vh;
    width: 100%;
    background-color: #ddd;
    align-content: center;
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  .market-summary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 2vw;
    flex-wrap: wrap;
  }
  
.dataCard {
    background-color: #efefef;
    border-radius: 0.5em;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 1em;
    box-sizing: border-box;
}

.tableContainer {
    max-height: 15rem; 
    overflow: auto; 
}

.instrumentSelector {
  width: 92%; 
  max-height: 15rem; 
  min-height: 15rem; 
  overflow: auto; 
}

.spreadChart {
    width: 92%; 
    min-height: 20rem;
}
  
  .marketByLevel {
    width: 45%;
    min-height: 20rem;
  }
  
  .eventTable {
    width: 45%;
    height: 20rem;
    table-layout: fixed;
  }

  .ms-spread-chart {
    width: 100%;
    height: 25rem; 
    padding-bottom: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    box-sizing: border-box;
  }

  .mbl-chart {
    width: 100%;
    height: 15rem; 
    box-sizing: border-box;
  }

  .footer {
    text-align: center;
    margin-top: 1rem;
    color: #333;
}

.tree-node-container {
  margin-left: 20px;
}

.tree-node-header {
  display: flex;
  align-items: center;
}

.tree-node-name {
  cursor: pointer;
}

.tree-node-name.text-dark {
  color: black;
}

.tree-node-name.text-primary {
  color: rgba(31, 119, 180, 0.2);
}

.tree-node-children {
  margin-left: 20px;
}